<div class="input-group">
    <label>Username</label>
    <input formControlName="username" type="text" />
</div>
<app-control-messages controlName="username" [validationMessages]="validators | validationMessageTrnsf : 'username'">
</app-control-messages>
<div class="input-group">
    <label>Password</label>
    <input formControlName="password" type="password" />
</div>
<app-control-messages controlName="password" [validationMessages]="validators | validationMessageTrnsf : 'password'">
</app-control-messages>