.container{
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    .item{
        margin : 0.4rem;
        .card-content-container{
            text-align: center;
            .language{
                color:#575757;
                font-size: 0.8rem;
            }
            p{
                margin : 0.6rem;
            }
        }
        .full-width{
            width: 100%;
        }
    }
}