.select-box {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: inherit;
    color: inherit;
    font-size: 1.2rem;
    border: 1px solid black;
    padding : 0.6rem;
    border-radius: 3px;
    .icon{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}

.options-panel-container{
    position: relative;
    width: 100%;
    margin-bottom:2rem;
    .options-panel{
        position: absolute;
        background-color: white;
        width: -webkit-fill-available;
        list-style: none;
        padding:0px;
        margin:0px
    }
    .options-panel > *{
        padding: 0.8rem;
        border-bottom: 1px solid #ccc;
    }
    .options-panel:last-child{
        border:none;
    }
}